/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  color: var(--text-color);
}

.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
}

.theme_light .rec-element {
  display: none;
}

.theme_light .header {
  color: var(--text-color);
}

.theme_light .header__title {
  color: #ffc2e6;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.theme_light .section_title {
  color: var(--text-color);
}

.theme_light .title-decor {
  color: var(--text-color);
}

.theme_light .footer {
  color: var(--text-color);
}

.theme_light .footer__title {
  color: #ffc2e6;
  text-shadow: 2px 2px 0px #ff0070;
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

@media (width > 768px) {
  .theme_light .header__title {
    color: #ffc2e6;
    text-shadow: 4px 4px 0px #ff0070;
  }

  .theme_light .footer__title {
    color: #ffc2e6;
    text-shadow: 4px 4px 0px #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
  }

  .page {
    background-color: var(--bg-color);
    background-image: url(../images/cover-image-light.png);
    background-repeat: no-repeat;
    color: currentColor;
  }

  .rec-element {
    display: none;
  }

  .header {
    color: var(--text-color);
  }

  .header__title {
    color: #ffc2e6;
    text-shadow: 4px 4px 0px #ff8dcb;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

  .section_title {
    color: var(--text-color);
  }

  .title-decor {
    color: var(--text-color);
  }

  .footer {
    color: var(--text-color);
  }

  .footer__title {
    color: #ffc2e6;
    text-shadow: 2px 2px 0px #ff0070;
  }
}
