/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.theme_light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --main-font: 'IBM Plex Mono', sans-serif;
  --text-size: 18px;
}

.page.theme_light .theme_dark_only {
  display: none;
}

.theme_light .header {
  color: var(--text-color);
}

.theme_light .header__title {
  color: #FFC2E6;
  text-shadow: 4px 4px 0px #FF8DCB;
}

.theme_light .title-decor {
  color: var(--text-color);
}

.theme_light .footer {
  color: var(--text-color);
}

.theme_light .footer__title {
  color: #FFC2E6;
  text-shadow: 2px 2px 0px #FF0070;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --main-font: 'IBM Plex Mono', sans-serif;
    --text-size: 18px;   
    }
}
