/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

.page {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: var(--text-size);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}

.header {
  height: 100vh;
  color: var(--accent-color);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 668px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-left: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  inline-size: 25.038px;
  block-size: 24.999px;
  left: 10px;
  bottom: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  inline-size: 25.038px;
  block-size: 24.999px;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  list-style: none;
}

.header__theme-menu-button {
  border: none;
  padding: 0 12px;
  color: currentColor;
  font-family: inherit;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid currentColor;
}

.rec-element {
  position: absolute;
  text-transform: uppercase;
  font-size: 18px;
  right: 40px;
  top: 10px;
}

.rec-element::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__title {
  color: #db00ff;
  text-shadow: 4px 4px 0px var(--accent-color);
  font-weight: 700;
  line-height: 82.5%;
  font-size: var(--title-size);
}

.header__text {
  font-weight: 700;
  line-height: 23.4px;
  display: grid;
  align-items: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 0px 10px;
  margin-block-start: 40px;
}

.section_title {
  color: var(--accent-color);
  font-size: var(--text-size);
  margin-block-end: 20px;
}

.section_title_decor {
  line-height: 23.4px;
  font-size: var(--text-size);
}

.main__section_text {
  margin-block-start: 7px;
}

.content_section-text {
  margin-block-start: 20px;
}

.content__text-block {
  margin-block-start: 22px;
}

.section_header {
  /* small */
  font-weight: 400;
  margin-block-end: 7px;
  margin-block-start: 21px;
}

.section_link {
  color: inherit;
  text-shadow: 2px 1px 0px var(--accent-color);
  text-decoration: none;
}

.section_link:hover {
  border-block-end: 1px solid var(--text-color);
}

.section_link:focus {
  outline: none;
}

.section_link:focus-visible {
  outline: 1px solid currentColor;
}

.content_gallery {
  display: grid;
  gap: 10px;
}

.gallery {
  max-width: 100%;
  padding-block-end: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 668px;
  height: 100vh;
  color: var(--accent-color);
  margin-block-start: 40px;
}

.footer__title {
  color: #db00ff;
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 82.5%;
  padding-block-end: 30px;
}

@media (width > 375px) {
  .rec-element {
    top: 20px;
    right: 48px;
  }

  .header__title {
    margin-inline-start: -10px;
  }

  .header__theme-menu-list {
    padding-inline-end: 12px;
  }

  .header__text {
    grid-template-columns: 1fr 1fr;
  }

  .header__text .title-decor {
    margin-inline-end: 8px;
    margin-block-end: 6px;
    grid-column: 2 / 3;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .content_section {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    padding: 0 10px;
    margin-block-start: 25px;
  }

  .section_title {
    margin-block-end: 0;
  }

  .title_section_block {
    min-width: 236px;
    width: 100%;
    margin-block-start: 10px;
  }

  .content_section-text {
    grid-column-start: 2;
    grid-column-end: span 3;
    margin-inline-start: 15px;
    margin-block-start: 0;
  }

  .content__text-block {
    grid-column-start: 1;
    grid-column-end: span 3;
    margin-block-start: 0;
    grid-template-columns: repeat(auto-fit, 1fr);
  }

  .title_block {
    margin-block-start: 15px;
    grid-column: 2 / span 3;
  }

  .content_block {
    grid-column-start: 2;
    grid-column-end: span 3;
  }

  .content_block:first-of-type {
    margin-block-start: -65px;
  }

  .section_header {
    margin: 0 0 10px 0;
  }

  .title_in-section:not(:first-of-type) {
    margin-block-start: 19px;
  }

  .content_gallery {
    padding: 0 10px;
    margin-block-start: 25px;
  }

  .gallery_section {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover; /* при перемещении в основной селектор изображения сжимаются*/
  }

  .gallery:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (width > 768px) {
  .header__title {
    font-size: clamp(7.25rem, 5.8607rem + 6.1747vw, 9.8125rem);
  }

  .rec-element {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .header__theme-menu {
    justify-content: center;
    align-items: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-items: start;
    margin-block-start: 9px;
    padding-inline-end: 0;
  }

  .content_section-text {
    margin-inline-start: 6px;
  }

  .content_section:nth-of-type(2) {
    margin-block-start: 35px;
  }

  .content_section:nth-of-type(3) {
    margin-block-start: 20px;
  }

  .content__text-block:nth-child(2) {
    grid-column: 1 / 2;
  }

  .content__text-block:nth-child(3) {
    grid-column: 2 / 3;
  }

  .content__text-block:nth-child(4) {
    grid-column: 3 / 4;
  }

  .content_block {
    margin-inline-start: 7px;
  }

  .content_block:first-of-type {
    margin-block-start: -50px;
  }

  .title_block {
    margin-block-start: 4px;
    margin-inline-start: 10px;
  }

  .content_gallery {
    margin-block-start: 27px;
  }

  .gallery {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .footer {
    margin-block-start: 50px;
  }

  .footer__title {
    padding-block-end: 0;
    font-size: clamp(7.25rem, 5.8607rem + 6.1747vw, 9.8125rem);
  }
}

@media (375px < width <= 500px) {
  .content_section {
    display: flex;
    flex-direction: column;
  }
}
